body {
  font-family: 'Helvetica Neue';
  background-color: white;
  cursor: crosshair;
}

#home h1{
  text-align: center;
  position: absolute;
  left: 650px;
  top: 20px;
  font-size: 2.5em;
  cursor: crosshair;
}
#home a {
  text-decoration: none;
  color: #404040;
  display: inline-block;
  width: 500px;
  cursor: crosshair;
}
#logo {
  background-image: url("gun-logo2.png");
  background-size: cover;
  position: absolute;
  height:110px;
  width: 110px;
  left:550px;
  top:10px;
}
#about h3 {
  font-family: 'Helvetica';
  cursor: crosshair;
}
#about a {
  padding: 14px 28px;
  position: absolute;
  display: inline-block;
  text-align:center;
  width: 85px;
  border-radius: 4px;
  right: 998px;
  top: 140px;
  color:white;
  background-color: #fd5068;
  text-decoration: none;
  transition: background-color:.5s;
  cursor: crosshair;
}
#about a:hover {
  background-color:#e6485e;
  cursor: crosshair;

}

#archive h3 {
  font-family: 'Helvetica';
  cursor: crosshair;
}
#archive a {
  padding: 14px 28px;
  position: absolute;
  display: inline-block;
  text-align:center;
  width: 85px;
  border-radius: 4px;
  right: 775px;
  top: 140px;
  color:white;
  background-color: #fd5068;
  text-decoration: none;
  transition: background-color:.5s;
  cursor: crosshair;
}
#archive a:hover {
  background-color:#e6485e;
  cursor: crosshair;

}

#submit a {
  padding: 14px 28px;
  position: absolute;
  display: inline-block;
  text-align:center;
  width: 85px;
  border-radius: 4px;
  right: 550px;
  top: 140px;
  color:white;
  background-color: #fd5068;
  text-decoration: none;
  transition: background-color:.5s;
  cursor: crosshair;
}
#submit a:hover {
  background-color:#e6485e;
  cursor: crosshair;
}


#profile1 {
  cursor: pointer;
  background-image: url("profile5.png");
  background-size:cover;
  position: absolute;
  border: 2px solid lightgrey;
  background-position: center;
  height:6em;
  width:6em;
  border-radius: 100%;
  padding-bottom:0em;
  margin:  15em 24em;
}

#profile2 {
  cursor:pointer;
  background-image: url("profile3.png");
  position: absolute;
  background-size:cover;
  background-position: center;
  border: 2px solid lightgrey;
  height:6em;
  width:6em;
  border-radius: 100%;
  padding-bottom:0em;
  margin:  15em 32em;
}

#profile3 {
  cursor: pointer;
  background-image: url("profile1.png");
  position: absolute;
  background-size:cover;
  background-position: center;
  border: 2px solid lightgrey;
  height:6em;
  width:6em;
  border-radius: 100%;
  padding-bottom:0em;
  margin:  15em 40em;
}
#profile4{
cursor: pointer;
background-image: url("profile6.png");
position: absolute;
background-size:cover;
background-position: center;
border: 2px solid lightgrey;
height:6em;
width:6em;
border-radius: 100%;
padding-bottom:0em;
margin:  15em 48em;
}
#profile5{
cursor: pointer;
background-image: url("profile7.png");
position: absolute;
background-size:cover;
background-position: center;
border: 2px solid lightgrey;
height:6em;
width:6em;
border-radius: 100%;
padding-bottom:0em;
margin:  15em 56em;
}
#profile6{
cursor: pointer;
background-image: url("profile2.png");
position: absolute;
background-size:cover;
background-position: center;
border: 2px solid lightgrey;
height:6em;
width:6em;
border-radius: 100%;
padding-bottom:0em;
margin:  15em 64em;
}
#profile7{
cursor: pointer;
background-image: url("profile4.png");
position: absolute;
background-size:cover;
background-position: center;
border: 2px solid lightgrey;
height:6em;
width:6em;
border-radius: 100%;
padding-bottom:0em;
margin:  15em 72em;
}
#newmessage1{
  position: absolute;
  background-color:#fd5068;
  border:3px solid white;
  height:13px;
  width:13px;
  border-radius: 100%;
  padding-bottom:0em;
  margin:  18em 29.5em;
}
#newmessage2{
  position: absolute;
  background-color:#fd5068;
  border:3px solid white;
  height:13px;
  width:13px;
  border:3px solid white;
  border-radius: 100%;
  padding-bottom:0em;
  margin:  18em 37.6em;
}
#newmessage3{
  position: absolute;
  background-color:#fd5068;
  border:3px solid white;
  height:13px;
  width:13px;
  border-radius: 100%;
  padding-bottom:0em;
  margin:  18em 45.5em;
}
#newmessage4{
  position: absolute;
  background-color:#fd5068;
  border:3px solid white;
  height:13px;
  width:13px;
  border-radius: 100%;
  padding-bottom:0em;
  margin:  18em 53.6em;
}
#newmessage5{
  position: absolute;
  background-color:#fd5068;
  border:3px solid white;
  height:13px;
  width:13px;
  border-radius: 100%;
  padding-bottom:0em;
  margin:  18em 61.6em;
}
#newmessage6{
  position: absolute;
  background-color:#fd5068;
  border:3px solid white;
  height:13px;
  width:13px;
  border-radius: 100%;
  padding-bottom:0em;
  margin:  18em 69.6em;
}
#newmessage7{
  position: absolute;
  background-color:#fd5068;
  border:3px solid white;
  height:13px;
  width:13px;
  border-radius: 100%;
  padding-bottom:0em;
  margin:  18em 77.6em;
}

#showall {
  background-image: linear-gradient(90deg,#fd5068,coral);
  text-align: center;
  color:white;
  width: 10em;
  display:inline-block;
  border-radius: 25px;
  position: absolute;
  top: 25em;
  left:750px;
  cursor:crosshair;
  transition: background-image:1s;
}
#showall:hover {
  background-image: linear-gradient(90deg,#fd5068,#fd5068);
  cursor:crosshair;
}

.dude {
  width: 300px;
  height: 220px;
  border: 2px solid lightgrey;

}

.dudecontainer{
  top: 500px;
  position:absolute;
  left:330px;
  height:1000px;
  width:1000px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
#fullimage1 {
  cursor: pointer;
  background-image: url("Archive_Images/fullpage1.png");
  background-size:cover;
}
#fullimage2 {
  cursor: pointer;
  background-image: url("Archive_Images/fullpage2.png");
  background-size:cover;
}
#fullimage3 {
  cursor: pointer;
  background-image: url("Archive_Images/fullpage3.png");
  background-size:cover;
}
#fullimage4 {
  cursor: pointer;
  background-image: url("Archive_Images/fullpage4.png");
  background-size:cover;
}
#fullimage5 {
  cursor: pointer;
  background-image: url("Archive_Images/fullpage5.png");
  background-size:cover;
}
#fullimage6 {
  cursor: pointer;
  background-image: url("Archive_Images/fullpage6.png");
  background-size:cover;
}
#fullimage7 {
  cursor: pointer;
  background-image: url("Archive_Images/fullpage7.png");
  background-size:cover;
}
.slideshow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}
.slideshow-image {
  position: fixed;
  top: 5vh;
  left: 15vw;
  width: 70vw;
  height: 90vh;
}
#bigimage1 {
  cursor: crosshair;
  background-image: url("Archive_Images/fullpage1.png");
  background-size:cover;
}
#bigimage2 {
  cursor: crosshair;
  background-image: url("Archive_Images/fullpage2.png");
  background-size:cover;
}
#bigimage3 {
  cursor: crosshair;
  background-image: url("Archive_Images/fullpage3.png");
  background-size:cover;
}
#bigimage4 {
  cursor: crosshair;
  background-image: url("Archive_Images/fullpage4.png");
  background-size:cover;
}
#bigimage5 {
  cursor: crosshair;
  background-image: url("Archive_Images/fullpage5.png");
  background-size:cover;
}
#bigimage6 {
  cursor: crosshair;
  background-image: url("Archive_Images/fullpage6.png");
  background-size:cover;
}
#bigimage7 {
  cursor: crosshair;
  background-image: url("Archive_Images/fullpage7.png");
  background-size:cover;
}
