body {
  font-family: 'Helvetica Neue';
  background-color: white;
  height:1280px;
  cursor: crosshair;
}

#home h1{
  text-align: center;
  position: absolute;
  left: 650px;
  top: 20px;
  font-size: 2.5em;
  cursor: crosshair;
}
#home a {
  text-decoration: none;
  color: #404040;
  display: inline-block;
  width: 500px;
  cursor: crosshair;
}
#logo {
  background-image: url("gun-logo2.png");
  background-size: cover;
  position: absolute;
  height:110px;
  width: 110px;
  left:550px;
  top:10px;
}
#about h3 {
  font-family: 'Helvetica';
  cursor: crosshair;
}
#about a {
  padding: 14px 28px;
  position: absolute;
  display: inline-block;
  text-align:center;
  width: 85px;
  border-radius: 4px;
  right: 998px;
  top: 140px;
  color:white;
  background-color: #fd5068;
  text-decoration: none;
  transition: background-color:.5s;
  cursor: crosshair;
}
#about a:hover {
  background-color:#e6485e;
  cursor: crosshair;

}

#archive h3 {
  font-family: 'Helvetica';
  cursor: crosshair;
}
#archive a {
  padding: 14px 28px;
  position: absolute;
  display: inline-block;
  text-align:center;
  width: 85px;
  border-radius: 4px;
  right: 775px;
  top: 140px;
  color:white;
  background-color: #fd5068;
  text-decoration: none;
  transition: background-color:.5s;
  cursor: crosshair;
}
#archive a:hover {
  background-color:#e6485e;
  cursor: crosshair;

}

#submit a {
  padding: 14px 28px;
  position: absolute;
  display: inline-block;
  text-align:center;
  width: 85px;
  border-radius: 4px;
  right: 550px;
  top: 140px;
  color:white;
  background-color: #fd5068;
  text-decoration: none;
  transition: background-color:.5s;
  cursor: crosshair;
}
#submit a:hover {
  background-color:#e6485e;
  cursor: crosshair;

}
#matched {
  background-image: url("matched.png");
  background-size: cover;
  position: absolute;
  height:25%;
  width: 27%;
  right: 620px;
  top: 25em;
}
#submissions{
  background-image: linear-gradient(90deg,#fd5068,coral);
  text-align: center;
  color:white;
  width: 20em;
  display:inline-block;
  border-radius: 25px;
  position: absolute;
  top: 78em;
  left:487PX;
  cursor:crosshair;
  transition: background-image:1s;
}
#submissions a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
#submissions a:hover {
  cursor:crosshair;
}
#submissions:hover {
  background-image: linear-gradient(90deg,#fd5068,#fd5068);
  cursor:crosshair;
}

#submissionsheadline{
  color:#404040;
  position:absolute;
  top: 15em;
  left:487PX;
  border-bottom:2px solid lightgrey;
}

#information{
  color: #404040;
  position:absolute;
  text-align: justify;
  font-size: 1.3em;
  top: 15em;
  left:487px;
  width: 685px;
}
